<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
      <div class="header">
        <div class="col-md-3">
            <div class="masthead">
                <h3 class="text-muted">@Html.ActionLink("Взаимодейстие", "Index", "Home")</h3>
            </div>
        </div>
        @Html.Partial("_LoginPartial")
        </div>

    <div class="content">

        @RenderBody()
    </div>

    @*<footer>
        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
    </footer>*@

    <div id="footer">
        @*<div class="footer-block">
            <div class="footer-block-email">
                <input class="footer-block-email-img" type="text" value="Join Our Newsletter Here"
                       onfocus="doClear(this)"
                       onblur="doDefault(this)" />
                <button>Join</button>
            </div>
        </div>*@
        <div class="footer-text">
            @*Quisque turpis lorem, vehicula eget rhoncus vel, ultricies ac mauris. Morbi lectus velit, tincidunt congue pharetra eu, varius nec libero. Vivamus justo risus, dignissim ac vestibulum eget, egestas rutrum magna. Etiam malesuada nisi et nisl volutpat tristique.
            <p></p>
            <div class="footer-social-img">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="~/images/fb-bot.png" alt="" />
                </a>
            </div>
            <div class="footer-social-img">
                <a href="https://twitter.com" target="_blank">
                    <img src="~/images/tw-bot.png" alt="" />
                </a>
            </div>
            <div class="footer-social-img">
                <a href="https://ru.wikipedia.org/wiki/RSS" target="_blank">
                    <img src="~/images/rss-bot.png" alt="" />
                </a>
            </div>*@
            <p class="footer-copyright">Copyright 2012 Footer here</p>
        </div>
    </div>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    


</body>
</html>
